<mat-card>
  <div mat-subheader><h1>Add New Category</h1></div>
  <mat-card-content>
    <form (ngSubmit)="formSubmit()">
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Title</mat-label>
              <input
                [(ngModel)]="category.title"
                type="text"
                name="title"
                matInput
                placeholder="Enter Category Title"
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                [(ngModel)]="category.description"
                name="description"
                matInput
                placeholder="Enter Category description"
                rows="15"
              ></textarea>
            </mat-form-field>
            <div class="container text-center mt10">
              <button mat-raised-button color="accent">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
