.profile_image {
  max-width: 150px;
  max-height: 150px;
  border: 2px solid palevioletred;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr td {
  padding: 15px 10px;
  border: 0.5px solid pink;
}

td {
  width: 50%;
}
