<div class="bootstrap-wrapper">
  <div class="row mt20">
    <div class="col-md-12">
      <h1>
        Adding Question to <span style="font-weight: bold">{{ title }}</span>
      </h1>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            Enter the detail of the new question
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="addQuestion()">
            <!-- <mat-form-field class="w100" appearance="fill">
              <mat-label>Write Question Content</mat-label>
              <textarea
                [(ngModel)]="question.content"
                name="content"
                rows="8"
                matInput
                placeholder="Enter Question Content"
              ></textarea>
            </mat-form-field> -->
            <ckeditor
              [editor]="Editor"
              data="<h3>Write your question here</h3>"
              name="content"
              [(ngModel)]="question.content"
            ></ckeditor>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                  <mat-label>Option1</mat-label>
                  <input
                    [(ngModel)]="question.option1"
                    type="text"
                    name="option1"
                    matInput
                    placeholder="Enter Option1"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                  <mat-label>Option2</mat-label>
                  <input
                    [(ngModel)]="question.option2"
                    type="text"
                    name="option2"
                    matInput
                    placeholder="Enter Option2"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                  <mat-label>Option3</mat-label>
                  <input
                    [(ngModel)]="question.option3"
                    type="text"
                    name="option3"
                    matInput
                    placeholder="Enter Option3"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                  <mat-label>Option4</mat-label>
                  <input
                    [(ngModel)]="question.option4"
                    type="text"
                    name="option4"
                    matInput
                    placeholder="Enter Option4"
                  />
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Answer</mat-label>
              <mat-select name="answer" [(ngModel)]="question.answer">
                <mat-option
                  *ngIf="question.option1"
                  [value]="question.option1"
                  >{{ question.option1 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option2"
                  [value]="question.option2"
                  >{{ question.option2 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option3"
                  [value]="question.option3"
                  >{{ question.option3 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option4"
                  [value]="question.option4"
                  >{{ question.option4 }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <div class="container text-center">
              <button mat-raised-button color="accent">Add</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<!-- {{ question | json }} -->
