<mat-card class="mt20">
  <h1 class="text-center">Cheque Book Request</h1>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-8 offset-md-2">
          <form>
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Account Holder Name</mat-label>
              <input
                type="text"
                name="name"
                matInput
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Account Number</mat-label>
              <input
                type="text"
                name="accountNumber"
                matInput
              />
            </mat-form-field>
            <div class="container text-center">
              <button mat-raised-button color="accent">SEND REQUEST</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-card>
