<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img
              src="../../../assets/logo.png"
              alt="logo"
              width="100px"
              height="100px"
            />
          </div>
          <h3 class="text-center">Login Here !!</h3>
          <!-- {{ loginData | json }} -->
          <form (ngSubmit)="formSubmit()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Username</mat-label>
              <input
                [(ngModel)]="loginData.username"
                required
                type="text"
                name="username"
                matInput
                placeholder="Enter Username"
              />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Valid Username</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Password</mat-label>
              <input
                [(ngModel)]="loginData.password"
                required
                name="password"
                type="password"
                matInput
                placeholder="Enter Password"
              />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <div class="container text-center">
              <button type="submit" mat-raised-button color="accent" id="login">
                Login
              </button>
              <button mat-raised-button color="primary" class="margin-left">
                Forget Password
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
