<mat-card class="mt20">
  <h1 class="text-center">Saving Account</h1>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-8 offset-md-2">
          <table class="table">
            <tr>
              <td>Name</td>
              <td>AMAN KUMAR</td>
            </tr>
            <tr>
              <td>Account Number</td>
              <td>785412365478</td>
            </tr>
            <tr>
              <td>Account Balance</td>
              <td>Rs: 25000</td>
            </tr>
            <tr>
              <td>Last Update</td>
              <td>05-Sep-2021</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</mat-card>
